<?xml version="1.0" encoding="utf-8"?>

<app>
    <window>
        <title>SgIslands</title>
        <width>1024</width>
        <height>768</height>
    </window>
    <fonts>
        <font>res/fonts/font.ttf</font>
    </fonts>
    <world>
        <tileAtlas>
            <background>res/config/deepWaterTileset.xml</background>
            <terrain>res/config/terrainTileset.xml</terrain>
            <misc>res/config/miscTileset.xml</misc>
        </tileAtlas>
        <map>res/config/example_map.xml</map>
        <unitAnimations>res/config/unitAnimations.xml</unitAnimations>
    </world>
</app>
